{% extends "layout.html" %}

        <!-- ============================================================== -->
        <!-- Start Page Content here -->
        <!-- ============================================================== -->
                {% block content %}


                <!-- Start Content-->
                <div class="container-fluid">

                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box">
                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="javascript: void(0);">Abstack</a></li>
                                        <li class="breadcrumb-item"><a href="javascript: void(0);">Email</a></li>
                                        <li class="breadcrumb-item active">Email Compose</li>
                                    </ol>
                                </div>
                                <h4 class="page-title">Email Compose</h4>
                            </div>
                        </div>
                    </div>
                    <!-- end page title -->
                    <div class="row">
                        <!-- Right Sidebar -->
                        <div class="col-lg-12">
                            <div class="card-box">
                                <!-- Left sidebar -->
                                <div class="inbox-leftbar">
                                    <a href="/email_inbox"
                                        class="btn btn-danger btn-block waves-effect waves-light">Inbox</a>
                                    <div class="mail-list mt-3">
                                        <a href="/email_inbox" class="list-group-item border-0 text-danger"><i
                                                class="mdi mdi-inbox font-18 align-middle mr-2"></i><b>Inbox</b><span
                                                class="badge badge-danger float-right ml-2">8</span></a>
                                        <a href="#" class="list-group-item border-0"><i
                                                class="mdi mdi-star font-18 align-middle mr-2"></i>Starred</a>
                                        <a href="#" class="list-group-item border-0"><i
                                                class="mdi mdi-file-document-box font-18 align-middle mr-2"></i>Draft<span
                                                class="badge badge-info float-right ml-2">32</span></a>
                                        <a href="#" class="list-group-item border-0"><i
                                                class="mdi mdi-send font-18 align-middle mr-2"></i>Sent Mail</a>
                                        <a href="#" class="list-group-item border-0"><i
                                                class="mdi mdi-delete font-18 align-middle mr-2"></i>Trash</a>
                                    </div>

                                </div>
                                <!-- End Left sidebar -->

                                <div class="inbox-rightbar">

                                    <div class="" role="toolbar">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-light waves-effect"><i
                                                    class="mdi mdi-archive font-18 vertical-middle"></i></button>
                                            <button type="button" class="btn btn-light waves-effect"><i
                                                    class="mdi mdi-alert-octagon font-18 vertical-middle"></i></button>
                                            <button type="button" class="btn btn-light waves-effect"><i
                                                    class="mdi mdi-delete-variant font-18 vertical-middle"></i></button>
                                        </div>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-light dropdown-toggle waves-effect"
                                                data-toggle="dropdown" aria-expanded="false">
                                                <i class="mdi mdi-folder font-18 vertical-middle"></i>
                                                <i class="mdi mdi-chevron-down"></i>
                                            </button>
                                            <div class="dropdown-menu">
                                                <span class="dropdown-header">Move to</span>
                                                <a class="dropdown-item" href="javascript: void(0);">Social</a>
                                                <a class="dropdown-item" href="javascript: void(0);">Promotions</a>
                                                <a class="dropdown-item" href="javascript: void(0);">Updates</a>
                                                <a class="dropdown-item" href="javascript: void(0);">Forums</a>
                                            </div>
                                        </div>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-light dropdown-toggle waves-effect"
                                                data-toggle="dropdown" aria-expanded="false">
                                                <i class="mdi mdi-label font-18 vertical-middle"></i>
                                                <i class="mdi mdi-chevron-down"></i>
                                            </button>
                                            <div class="dropdown-menu">
                                                <span class="dropdown-header">Label as:</span>
                                                <a class="dropdown-item" href="javascript: void(0);">Updates</a>
                                                <a class="dropdown-item" href="javascript: void(0);">Social</a>
                                                <a class="dropdown-item" href="javascript: void(0);">Promotions</a>
                                                <a class="dropdown-item" href="javascript: void(0);">Forums</a>
                                            </div>
                                        </div>

                                        <div class="btn-group">
                                            <button type="button" class="btn btn-light dropdown-toggle waves-effect"
                                                data-toggle="dropdown" aria-expanded="false">
                                                More
                                                <i class="mdi mdi-chevron-down"></i>
                                            </button>
                                            <div class="dropdown-menu">
                                                <span class="dropdown-header">More Option :</span>
                                                <a class="dropdown-item" href="javascript: void(0);">Mark as Unread</a>
                                                <a class="dropdown-item" href="javascript: void(0);">Add to Tasks</a>
                                                <a class="dropdown-item" href="javascript: void(0);">Add Star</a>
                                                <a class="dropdown-item" href="javascript: void(0);">Mute</a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="mt-4">

                                        <form role="form" method="POST" action="/send_message">
                                            <div class="form-group">
                                                <input type="email" name="email" class="form-control" placeholder="To" required id="">
                                            </div>

                                            <div class="form-group">
                                                <input type="text" name="subject" class="form-control" placeholder="Subject" required id="">
                                            </div>
                                            <!-- <div class="form-group"> -->
                                                <!-- class="summernote" -->
                                                    <!-- <input type="text"  class="form-control" name="message" class="form-control" placeholder="Message" required id="">
                                            </div> -->
                                            <div class="form-group">
                                                <div class="summernote">
                                                    <h6>Hello Summernote</h6>
                                                    <ul>
                                                        <li>
                                                            Select a text to reveal the toolbar.
                                                        </li>
                                                        <li>
                                                            Edit rich document on-the-fly, so elastic!
                                                        </li>
                                                    </ul>
                                                    <p>
                                                        End of air-mode area
                                                    </p>

                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="text-right">
                                                    <button type="button"
                                                        class="btn btn-success waves-effect waves-light mr-1"><i
                                                            class="mdi mdi-content-save-outline"></i></button>
                                                    <button type="button"
                                                        class="btn btn-success waves-effect waves-light mr-1"><i
                                                            class="mdi mdi-delete"></i></button>
                                                    <button class="btn btn-purple waves-effect waves-light">
                                                        <span>Send</span> <i class="mdi mdi-send ml-1"></i> </button>
                                                </div>
                                            </div>

                                        </form>
                                    </div> <!-- end card-->

                                </div>

                                <div class="clearfix"></div>
                            </div>

                        </div> <!-- end Col -->

                    </div><!-- End row -->






                </div> <!-- end container-fluid -->
                {% endblock %}

    {% block scripts %}
    <!-- Vendor js -->
    <script src="../static/js/vendor.min.js"></script>

    <!--Summernote js-->
    <script src="../static/libs/summernote/summernote-bs4.min.js"></script>

    <script>
        $(document).ready(function () {
            $('.summernote').summernote({
                height: 250,                 // set editor height
                minHeight: null,             // set minimum height of editor
                maxHeight: null,             // set maximum height of editor
                focus: false                 // set focus to editable area after initializing summernote
            });
        });
    </script>

    <!-- App js -->
    <script src="../static/js/app.min.js"></script>

    {% endblock %}